<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{%- include head.html -%}

<body>

   {%- include header.html -%}

   <div class="content">
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   {%- include footer.html -%}
   {%- include scripts.html -%}

   <script type="text/x-mathjax-config">
      MathJax = {
          tex: {
              inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
      };
  </script>

   <script type="text/javascript" async
 src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

</body>

</html>
